name: Deploy Sphinx documentation to Pages

on:
  push:
    branches: [main]

env:
  PYTHON_VERSION: '3.12'

jobs:
  pages:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Install System Dependencies
      run: |
        sudo apt update
        sudo apt install -y texlive-latex-extra graphviz
    - name: Install Python Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry config virtualenvs.create false
        poetry install
    - id: deployment
      uses: sphinx-notes/pages@v3
      with:
        documentation_path: ./docs/source
        python_version: ${{ env.PYTHON_VERSION }}
        checkout: false
        sphinx_build_options: '-b dirhtml'
